    
    
        <div class="row">
                
     <div class="col-lg-6">
            <div class="input-group">
              <input type="text"
              [(ngModel)]="filterName"
               class="form-control" 
               placeholder="Search for product name">
            </div>
          </div>

          </div>

          <br/>
    <div class="row">
        <app-productItem
        *ngFor="let productElement of products | filter:filterName:'name'" class="col-md-6 col-sm-12 col-lg-4"
        [product]="productElement"
        [index]="i"

        ></app-productItem>
    </div>

                
